/* Сброс стилей по умолчанию */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили для страницы */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Главный контейнер, в который обернут весь интерфейс */
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Заголовки */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-left: 20%;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Стили для полей ввода */
input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    background-color: #fff;
}

/* Стили для кнопки */
button[type="submit"] {
    background-color: #7300ff;
    width: 70%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

p a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

p a:hover {
    color: #31cbed;
}
/* Стили для панели ссылок */
.links_bar {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.links_bar a {
    color: #7300ff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links_bar a:hover {
    background-color: #0056b3;
    color: #fff;
    border: 1px solid #0056b3;
}

/* Стили для списка пользователей */
.user_list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.user_list li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}

.user_list li a {
    color: #7300ff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.user_list li:hover {
    background-color: #e9ecef;
}

/* Стили для блока сообщений */
.messages {
    flex: 1;
    overflow-y: auto;
    height: 440px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    /*TONI*/
    scrollbar-width: thin;
    scrollbar-color: #7300ff #ddd;
   
      
}

body::-webkit-scrollbar {
    width: 10px; /* Ширина всего элемента навигации */
  }
  
  body::-webkit-scrollbar-track {
    background: #fff; /* Цвет дорожки */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #7300ff; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
  }
.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    position: relative;
}


.message strong {
    display: block;
    margin-bottom: 5px;
}

.message small {
    display: block;
    text-align: right;
    color: #aaa;
    margin-top: 5px;
}

.message p {
    margin: 0;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height: 70px;
    width: 70%;
    font-size: 14px;
}

form[action*="download_chat"] button {
    background-color: #2fa572;
    margin-top: -10%;/*TONI*/
}

form[action*="download_chat"] button:hover {
    background-color: #187458;
}